.codeInput{
    width: 90vw;
    margin: 20px 0;
    padding: 10px;
}
.paragraph{
    border: 1px solid black;
    width: 90vw;
    min-height: 100px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    padding: 10px;
}

